<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StrayaMinerLauncherDev001.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StrayaMinerLauncherDev001.Properties.Settings>
            <setting name="PathToCLI" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToWallet" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToMiner" serializeAs="String">
                <value />
            </setting>
            <setting name="CpuSettingsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumberofCores" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CpuAffinityEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CpuPriorityEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AffinitySetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrioritySetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CpuTemperatureMax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomVerbosityEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomVerbositySetting" serializeAs="String">
                <value>0</value>
            </setting>
        </StrayaMinerLauncherDev001.Properties.Settings>
    </userSettings>
</configuration>